################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TravelWebApp/.vs/TravelWebApp
/TravelWebApp/.vs/ProjectEvaluation